@use "../variables" as *;
@use "../mixins" as *;

.header {
  text-align: center;

  padding: 1.5rem 2rem 1.75rem;
  border-bottom: $divider;

  &__title {
    color: $color-primary;
  }
}